@font-face {
  font-family: RobotoBolder;
  src: url("../src/Roboto-Black.ttf");
}
@font-face {
  font-family: RobotoLight;
  src: url("../src/Roboto-Light.ttf");
}

$bolder_font: RobotoBolder;
$main_font: RobotoLight;
* {
  font-family: RobotoLight;
  overflow-x: hidden;
}

#main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/img/animal.gif');
  h1 {
    font-family: $bolder_font;
  }
}
.navbar-brand {
  font-family: $bolder_font;
}

.navLink {
  position: relative;
  text-align: start;
  color: black;
  text-decoration: none;
  color: white;
}
.navLink::before {
  content: "";
  border: 1px solid #212429;
  position: absolute;
  transition: all 0.4s;
  bottom: 0;
  width: 0px;
}

.nav-item:hover ::before {
  width: 100%;
  border: 1px solid white;
}

.arrowDown {
  width: 40px;
  height: auto;
  cursor: pointer;
}
.disc {
  font-size: 18px;
  width: 1100px;
  margin-top: 20px;

  text-overflow: clip;
}
#servises {
  .main-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .options {
      text-align: center;
    }
  }
}

#servises{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (min-width:990px) {
  .nav-item:not(:first-child) {
    margin-left: 20px;
  }
}